<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.goose.shooting.mapper.ContestMapper">

    <resultMap type="Contest" id="ContestResult">
        <result property="id" column="id"/>
        <result property="areaId" column="area_id"/>
        <result property="courseId" column="course_id"/>
        <result property="typeId" column="type_id"/>
        <result property="title" column="title"/>
        <result property="imageUrl" column="image_url"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="price" column="price"/>
        <result property="address" column="address"/>
        <result property="content" column="content"/>
        <result property="rankings" column="rankings"/>
        <result property="releaseStatus" column="release_status"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="levelId" column="level_id"/>
        <result property="enrollDeadline" column="enroll_deadline"/>
        <result property="paymentCodeId" column="payment_code_id"/>
        <result property="draft" column="draft"/>
        <result property="recommend" column="recommend"/>

        <association property="area" column="area_id" javaType="Area" resultMap="AreaResult"/>
        <association property="course" column="course_id" javaType="Course" resultMap="CourseResult"/>
        <association property="type" column="type_id" javaType="Type" resultMap="TypeResult"/>
        <association property="contestLevelCoeff" column="level_id" javaType="ContestLevelCoeff"
                     resultMap="ContestLevelCoeffResult"/>
        <association property="paymentCode" column="payment_code_id" javaType="PaymentCode" resultMap="PaymentCodeResult"/>

    </resultMap>

    <resultMap type="Area" id="AreaResult">
        <result property="id" column="a_id"/>
        <result property="name" column="a_name"/>
    </resultMap>
    <resultMap type="Course" id="CourseResult">
        <result property="id" column="b_id"/>
        <result property="name" column="b_name"/>
    </resultMap>
    <resultMap type="Type" id="TypeResult">
        <result property="id" column="c_id"/>
        <result property="name" column="c_name"/>
    </resultMap>
    <resultMap type="ContestLevelCoeff" id="ContestLevelCoeffResult">
        <result property="id" column="d_id"/>
        <result property="levelName" column="d_level_name"/>
        <result property="levelCoeff" column="d_level_coeff"/>
    </resultMap>
    <resultMap type="PaymentCode" id="PaymentCodeResult">
        <result property="id" column="e_id"/>
        <result property="title" column="e_title"/>
        <result property="pictureUrl" column="e_picture_url"/>
        <result property="detail" column="e_detail"/>
    </resultMap>

    <sql id="selectContestVoNoJoin">
        select tb.id,
               tb.area_id,
               tb.course_id,
               tb.type_id,
               tb.title,
               tb.image_url,
               tb.start_date,
               tb.end_date,
               tb.price,
               tb.address,
               tb.content,
               tb.rankings,
               tb.draft,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.level_id,
               tb.enroll_deadline,
               tb.release_status
        from shooting_contest tb
    </sql>

    <sql id="selectContestVo">
        select tb.id,
               tb.area_id,
               tb.course_id,
               tb.type_id,
               tb.title,
               tb.image_url,
               tb.start_date,
               tb.end_date,
               tb.price,
               tb.address,
               tb.content,
               tb.rankings,
               tb.draft,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.level_id,
               tb.enroll_deadline,
               tb.release_status
        from shooting_contest tb     </sql>

    <select id="selectContestAll" parameterType="Contest" resultMap="ContestResult">
        <include refid="selectContestVo"/>
        where tb.status = 0 and tb.draft=0
    </select>

    <select id="selectContestList" parameterType="Contest" resultMap="ContestResult">
        <include refid="selectContestVo"/>
        <where>
            <if test="id != null ">and tb.id = #{id}</if>
                        <if test="ids != null and ids!=''">and tb.id in(${ids})</if>
            
            <if test="areaId != null ">and tb.area_id = #{areaId}</if>
            <if test="courseId != null ">and tb.course_id = #{courseId}</if>
            <if test="typeId != null ">and tb.type_id = #{typeId}</if>
            <if test="title != null  and title != '' ">and tb.title = #{title}</if>
            <if test="imageUrl != null  and imageUrl != '' ">and tb.image_url = #{imageUrl}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- ?????? -->
                AND date_format(tb.start_date ,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- ?????? -->
                AND date_format(tb.start_date ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- ?????? -->
                AND date_format(tb.end_date ,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- ?????? -->
                AND date_format(tb.end_date ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="price != null  and price != '' ">and tb.price = #{price}</if>
            <if test="address != null  and address != '' ">and tb.address = #{address}</if>
            <if test="content != null  and content != '' ">and tb.content = #{content}</if>
            <if test="rankings != null ">and tb.rankings = #{rankings}</if>
            <if test="draft != null ">and tb.draft = #{draft}</if>
            <if test="draft == null ">and tb.draft = 0</if>
            <if test="status != null ">and tb.status = #{status}</if>
            <if test="createBy != null  and createBy != '' ">and tb.create_by = #{createBy}</if>
            <if test="createTime != null ">and tb.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and tb.update_by = #{updateBy}</if>
            <if test="updateTime != null ">and tb.update_time = #{updateTime}</if>
            <if test="levelId != null ">and tb.level_id = #{levelId}</if>
            <if test="enrollDeadline != null ">and tb.enroll_deadline = #{enrollDeadline}</if>
        </where>
        ORDER BY
        CASE WHEN tb.start_date>NOW() THEN tb.recommend END desc ,

        CASE WHEN tb.start_date&lt;=NOW() THEN tb.start_date END asc,
        CASE WHEN tb.start_date>NOW() THEN tb.start_date END asc
    </select>

    <select id="selectContestById" parameterType="Long" resultMap="ContestResult">
        <include refid="selectContestVo"/>
        where tb.id = #{id}
    </select>

    <insert id="insertContest" parameterType="Contest" useGeneratedKeys="true" keyProperty="id">
        insert into shooting_contest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="areaId != null  ">area_id,</if>
            <if test="courseId != null  ">course_id,</if>
            <if test="typeId != null  ">type_id,</if>
            <if test="title != null  and title != ''  ">title,</if>
            <if test="imageUrl != null  and imageUrl != ''  ">image_url,</if>
            <if test="startDate != null  ">start_date,</if>
            <if test="endDate != null  ">end_date,</if>
            <if test="price != null  and price != ''  ">price,</if>
            <if test="address != null  and address != ''  ">address,</if>
            <if test="content != null  and content != ''  ">content,</if>
            <if test="rankings != null  ">rankings,</if>
            <if test="status != null  ">status,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time,
            release_status,
            <if test="draft != null  ">draft,</if>
            recommend,
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="levelId != null  ">level_id,</if>
            <if test="enrollDeadline != null  ">enroll_deadline,</if>
            <if test="paymentCodeId != null  ">payment_code_id,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="areaId != null  ">#{areaId},</if>
            <if test="courseId != null  ">#{courseId},</if>
            <if test="typeId != null  ">#{typeId},</if>
            <if test="title != null  and title != ''  ">#{title},</if>
            <if test="imageUrl != null  and imageUrl != ''  ">#{imageUrl},</if>
            <if test="startDate != null  ">#{startDate},</if>
            <if test="endDate != null  ">#{endDate},</if>
            <if test="price != null  and price != ''  ">#{price},</if>
            <if test="address != null  and address != ''  ">#{address},</if>
            <if test="content != null  and content != ''  ">#{content},</if>
            <if test="rankings != null  ">#{rankings},</if>
            <if test="status != null  ">#{status},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            sysdate(),
            1,
            <if test="draft != null  "> #{draft},</if>
            #{recommend},
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="levelId != null  ">#{levelId},</if>
            <if test="enrollDeadline != null  ">#{enrollDeadline},</if>
            <if test="paymentCodeId != null  ">#{paymentCodeId},</if>
        </trim>
    </insert>

    <update id="updateContest" parameterType="Contest">
        update shooting_contest
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaId != null  ">area_id = #{areaId},</if>
            <if test="courseId != null  ">course_id = #{courseId},</if>
            <if test="typeId != null  ">type_id = #{typeId},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="imageUrl != null  and imageUrl != ''  ">image_url = #{imageUrl},</if>
            <if test="startDate != null  ">start_date = #{startDate},</if>
            <if test="endDate != null  ">end_date = #{endDate},</if>
            <if test="price != null  and price != ''  ">price = #{price},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="rankings != null  ">rankings = #{rankings},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="levelId != null  ">level_id = #{levelId},</if>
            <if test="releaseStatus != null">release_status = #{releaseStatus},</if>
            <if test="enrollDeadline != null  ">enroll_deadline = #{enrollDeadline},</if>
            <if test="paymentCodeId != null  ">payment_code_id=#{paymentCodeId},</if>
            <if test="draft != null  ">draft=#{draft},</if>
            <if test="recommend != null  ">recommend=#{recommend},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContestById" parameterType="Long">
        delete
        from shooting_contest
        where id = #{id}
    </delete>

    <delete id="deleteContestByIds" parameterType="String">
        delete from shooting_contest where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <sql id="selectContestAssoc">
        select tb.id,
               tb.area_id,
               tb.course_id,
               tb.type_id,
               tb.title,
               tb.image_url,
               tb.start_date,
               tb.end_date,
               tb.price,
               tb.address,
               tb.content,
               tb.rankings,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.level_id,
               tb.enroll_deadline,
               tb.release_status,
               tb.payment_code_id,
               tb.draft,
               tb.recommend,
               a.id          as a_id,
               a.name        as a_name,
               b.id          as b_id,
               b.name        as b_name,
               c.id          as c_id,
               c.name        as c_name,
               d.id          as d_id,
               d.level_name  as d_level_name,
               d.level_coeff as d_level_coeff,
               spc.id AS e_id,
               spc.detail AS e_detail,
               spc.title AS e_title,
               spc.picture_url AS e_picture_url
        from shooting_contest tb
                 join shooting_area a on tb.area_id = a.id
                 join shooting_course b on tb.course_id = b.id
                 join shooting_type c on tb.type_id = c.id
                 join shooting_contest_level_coeff d on tb.level_id = d.id
                 left JOIN shooting_payment_code spc ON tb.payment_code_id = spc.id    </sql>

    <select id="selectContestAllAssoc" parameterType="Contest" resultMap="ContestResult">
        <include refid="selectContestAssoc"/>
        where tb.status = 0 and draft=0;
    </select>

    <select id="selectContestListAssoc" parameterType="Contest" resultMap="ContestResult">
        <include refid="selectContestAssoc"/>
        <where>
            <if test="id != null ">and tb.id = #{id}</if>
               <if test="ids != null and ids!=''">and tb.id in(${ids})</if>
            <if test="areaId != null ">and tb.area_id = #{areaId}</if>
            <if test="courseId != null ">and tb.course_id = #{courseId}</if>
            <if test="typeId != null ">and tb.type_id = #{typeId}</if>
            <if test="title != null  and title != '' ">and tb.title like concat('%', #{title}, '%')</if>
            <if test="imageUrl != null  and imageUrl != '' ">and tb.image_url = #{imageUrl}</if>
            <if test="startTime != null  and startTime != '' ">
                AND date_format(tb.start_date ,'%y%m') = date_format(#{startTime},'%y%m')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- ?????? -->
                AND date_format(tb.start_date ,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- ?????? -->
                AND date_format(tb.start_date ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- ?????? -->
                AND date_format(tb.end_date ,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- ?????? -->
                AND date_format(tb.end_date ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="price != null  and price != '' ">and tb.price like concat('%', #{price}, '%')</if>
            <if test="address != null  and address != '' ">and tb.address like concat('%', #{address}, '%')</if>
            <if test="content != null  and content != '' ">and tb.content like concat('%', #{content}, '%')</if>
            <if test="rankings != null ">and tb.rankings = #{rankings}</if>
            <if test="status != null ">and tb.status = #{status}</if>
            <if test="draft != null ">and tb.draft = #{draft}</if>
            <if test="draft == null ">and tb.draft = 0</if>
            <if test="createBy != null  and createBy != '' ">and tb.create_by = #{createBy}</if>
            <if test="createTime != null ">and tb.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and tb.update_by = #{updateBy}</if>
            <if test="updateTime != null ">and tb.update_time = #{updateTime}</if>
            <if test="levelId != null ">and tb.level_id = #{levelId}</if>
            <if test="enrollDeadline != null ">and tb.enroll_deadline = #{enrollDeadline}</if>
        </where>
        ORDER BY
        CASE WHEN tb.start_date>NOW() THEN tb.recommend END desc ,

        CASE WHEN tb.start_date&lt;=NOW() THEN tb.start_date END asc,
        CASE WHEN tb.start_date>NOW() THEN tb.start_date END asc
    </select>

    <select id="selectContestByIdAssoc" parameterType="Long" resultMap="ContestResult">
        <include refid="selectContestAssoc"/>
        where tb.id = #{id}
    </select>


</mapper>