<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.goose.shooting.mapper.ContestContestRankingCoeffMapper">
    
    <resultMap type="ContestContestRankingCoeff" id="ContestContestRankingCoeffResult">
        <result property="id"    column="id"    />
        <result property="clientUserId"    column="client_user_id"    />
        <result property="markId"    column="mark_id"    />
        <result property="coefficient"    column="coefficient"    />
        <association property="clientUser" column="client_user_id"  javaType="ClientUser"  resultMap="ClientUserResult" />
    </resultMap>

    <resultMap type="ClientUser" id="ClientUserResult">
        <result property="id"    column="a_id"    />
        <result property="nickname"    column="a_nickname"    />
        <result property="userName"    column="a_user_name"    />
        <result property="email"    column="a_email"    />
        <result property="phone"    column="a_phone"    />
        <result property="password"    column="a_password"    />
        <result property="userType"    column="a_user_type"    />
        <result property="openId"    column="a_open_id"    />
        <result property="avatar"    column="a_avatar"    />
        <result property="city"    column="a_city"    />
        <result property="address"    column="a_address"    />
        <result property="passwordResetDate"    column="a_password_reset_date"    />
        <result property="status"    column="a_status"    />
        <result property="idFront"    column="a_id_front"    />
        <result property="idBack"    column="a_id_back"    />
        <result property="idNumber"    column="a_id_number"    />
        <result property="realName"    column="a_real_name"    />
        <result property="jgUsername"    column="a_jg_username"    />
        <result property="memberId"    column="a_member_id"    />
        <result property="englishName"    column="a_english_name"    />
        <result property="certExpireDate"    column="a_cert_expire_date"    />
    </resultMap>
	
	<sql id="selectContestContestRankingCoeffVoNoJoin">
        select tb.id, tb.client_user_id, tb.mark_id, tb.coefficient        from shooting_contest_contest_ranking_coeff tb
    </sql>
    
	<sql id="selectContestContestRankingCoeffVo">
           select tb.id, tb.client_user_id, tb.mark_id, tb.coefficient, a.id as a_id , a.nickname as a_nickname , a.user_name as a_user_name , a.email as a_email , a.phone as a_phone , a.password as a_password , a.user_type as a_user_type , a.open_id as a_open_id , a.avatar as a_avatar , a.city as a_city , a.address as a_address , a.password_reset_date as a_password_reset_date , a.status as a_status , a.id_front as a_id_front , a.id_back as a_id_back , a.id_number as a_id_number , a.real_name as a_real_name , a.jg_username as a_jg_username , a.member_id as a_member_id , a.english_name as a_english_name , a.cert_expire_date as a_cert_expire_date  from shooting_contest_contest_ranking_coeff tb join client_user a on tb.client_user_id = a.id
    </sql>
    
     <select id="selectContestContestRankingCoeffAll" parameterType="ContestContestRankingCoeff" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffVo"/>
     </select>    
	
    <select id="selectContestContestRankingCoeffList" parameterType="ContestContestRankingCoeff" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffVo"/>
        <where>  
            <if test="id != null "> and tb.id = #{id}</if>
            <if test="clientUserId != null "> and tb.client_user_id = #{clientUserId}</if>
            <if test="markId != null "> and tb.mark_id = #{markId}</if>
            <if test="coefficient != null "> and tb.coefficient = #{coefficient}</if>
        </where>
    </select>
    
    <select id="selectContestContestRankingCoeffById" parameterType="Long" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffVo"/>
        where tb.id = #{id}
    </select>
        
    <insert id="insertContestContestRankingCoeff" parameterType="ContestContestRankingCoeff" useGeneratedKeys="true" keyProperty="id">
        insert into shooting_contest_contest_ranking_coeff
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="clientUserId != null  ">client_user_id,</if>
			<if test="markId != null  ">mark_id,</if>
			<if test="coefficient != null  ">coefficient,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="clientUserId != null  ">#{clientUserId},</if>
			<if test="markId != null  ">#{markId},</if>
			<if test="coefficient != null  ">#{coefficient},</if>
         </trim>
    </insert>
	 
    <update id="updateContestContestRankingCoeff" parameterType="ContestContestRankingCoeff">
        update shooting_contest_contest_ranking_coeff
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientUserId != null  ">client_user_id = #{clientUserId},</if>
            <if test="markId != null  ">mark_id = #{markId},</if>
            <if test="coefficient != null  ">coefficient = #{coefficient},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteContestContestRankingCoeffById" parameterType="Long">
        delete from shooting_contest_contest_ranking_coeff where id = #{id}
    </delete>
	
    <delete id="deleteContestContestRankingCoeffByIds" parameterType="String">
        delete from shooting_contest_contest_ranking_coeff where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
 

	<sql id="selectContestContestRankingCoeffAssoc">
        select tb.id, tb.client_user_id, tb.mark_id, tb.coefficient ,         a.id as a_id , a.nickname as a_nickname , a.user_name as a_user_name , a.email as a_email , a.phone as a_phone , a.password as a_password , a.user_type as a_user_type , a.open_id as a_open_id , a.avatar as a_avatar , a.city as a_city , a.address as a_address , a.password_reset_date as a_password_reset_date , a.status as a_status , a.id_front as a_id_front , a.id_back as a_id_back , a.id_number as a_id_number , a.real_name as a_real_name , a.jg_username as a_jg_username , a.member_id as a_member_id , a.english_name as a_english_name , a.cert_expire_date as a_cert_expire_date 		                from shooting_contest_contest_ranking_coeff tb  join client_user a on tb.client_user_id = a.id    </sql>
    
     <select id="selectContestContestRankingCoeffAllAssoc" parameterType="ContestContestRankingCoeff" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffAssoc"/>
     </select>    
	
    <select id="selectContestContestRankingCoeffListAssoc" parameterType="ContestContestRankingCoeff" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffAssoc"/>
        <where>  
            <if test="id != null "> and tb.id = #{id}</if>
            <if test="clientUserId != null "> and tb.client_user_id = #{clientUserId}</if>
            <if test="markId != null "> and tb.mark_id = #{markId}</if>
            <if test="coefficient != null "> and tb.coefficient = #{coefficient}</if>
        </where>
    </select>
    
    <select id="selectContestContestRankingCoeffByIdAssoc" parameterType="Long" resultMap="ContestContestRankingCoeffResult">
        <include refid="selectContestContestRankingCoeffAssoc"/>
        where tb.id = #{id}
    </select>

    
</mapper>