<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.goose.shooting.mapper.RecommendJudgeMapper">

    <resultMap type="RecommendJudge" id="RecommendJudgeResult">
        <result property="id" column="id"/>
        <result property="clientUserId" column="client_user_id"/>
        <result property="category" column="category"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="image1" column="image1"/>
        <result property="image2" column="image2"/>
        <result property="image3" column="image3"/>
        <result property="image4" column="image4"/>
        <result property="image5" column="image5"/>
        <result property="image6" column="image6"/>
        <result property="image7" column="image7"/>
        <result property="image8" column="image8"/>
        <result property="image9" column="image9"/>
        <result property="video" column="video"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="readCount" column="read_count"/>
        <result property="onTop" column="on_top"/>
        <result property="rankings" column="rankings"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="adTitle" column="ad_title"/>
        <result property="adContent" column="ad_content"/>
        <result property="adMediaUrl" column="ad_media_url"/>
        <result property="contentShort" column="content_short"/>
        <result property="videoCover" column="video_cover"/>
        <result property="isUserLike" column="is_user_like"/>
        <result property="isUserCollect" column="is_user_collect"/>
        <result property="isUserRead" column="is_user_read"/>
        <result property="draft" column="draft"/>
        <association property="clientUser" column="client_user_id" javaType="ClientUser" resultMap="ClientUserResult"/>
    </resultMap>

    <resultMap type="ClientUser" id="ClientUserResult">
        <result property="id" column="a_id"/>
        <result property="nickname" column="a_nickname"/>
        <result property="userName" column="a_user_name"/>
        <result property="email" column="a_email"/>
        <result property="phone" column="a_phone"/>
        <result property="password" column="a_password"/>
        <result property="userType" column="a_user_type"/>
        <result property="openId" column="a_open_id"/>
        <result property="avatar" column="a_avatar"/>
        <result property="city" column="a_city"/>
        <result property="address" column="a_address"/>
        <result property="passwordResetDate" column="a_password_reset_date"/>
        <result property="status" column="a_status"/>
    </resultMap>

    <sql id="selectRecommendJudgeVoNoJoin">
        select tb.id,
               tb.client_user_id,
               tb.category,
               tb.title,
               tb.content,
               tb.image1,
               tb.image2,
               tb.image3,
               tb.image4,
               tb.image5,
               tb.image6,
               tb.image7,
               tb.image8,
               tb.image9,
               tb.video,
               tb.like_count,
               tb.comment_count,
               tb.read_count,
               tb.on_top,
               tb.rankings,
               tb.draft,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.ad_title,
               tb.ad_content,
               tb.ad_media_url,
               tb.content_short,
               tb.video_cover
        from shooting_recommend_judge tb
    </sql>

    <sql id="selectRecommendJudgeVo">
        select tb.id,
               tb.client_user_id,
               tb.category,
               tb.title,
               tb.content,
               tb.image1,
               tb.image2,
               tb.image3,
               tb.image4,
               tb.image5,
               tb.image6,
               tb.image7,
               tb.image8,
               tb.image9,
               tb.video,
               tb.like_count,
               tb.comment_count,
               tb.read_count,
               tb.on_top,
               tb.rankings,
               tb.draft,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.ad_title,
               tb.ad_content,
               tb.ad_media_url,
               tb.content_short,
               tb.video_cover,
               a.id                  AS a_id,
               a.nickname            AS a_nickname,
               a.user_name           AS a_user_name,
               a.email               AS a_email,
               a.phone               AS a_phone,
               a.password            AS a_password,
               a.user_type           AS a_user_type,
               a.open_id             AS a_open_id,
               a.avatar              AS a_avatar,
               a.city                AS a_city,
               a.address             AS a_address,
               a.password_reset_date AS a_password_reset_date,
               a.status              AS a_status,
               (SELECT EXISTS(SELECT 1
                              FROM shooting_user_like sul
                              WHERE sul.like_id = tb.id
                                AND sul.like_type = 'recommendJudge'
                                AND sul.client_user_id = #{userId})) AS is_user_like,
               (SELECT EXISTS(SELECT 1
                              FROM shooting.shooting_user_collection suc
                              WHERE suc.collection_id = tb.id
                                AND suc.collection_type = 'recommendJudge'
                                AND suc.client_user_id = #{userId})) AS is_user_collect,
               (SELECT EXISTS(SELECT 1
                              FROM shooting.shooting_user_read sur
                              WHERE sur.read_id = tb.id
                                AND sur.read_type = 'recommendJudge'
                                AND sur.client_user_id = #{userId})) AS is_user_read
        from shooting_recommend_judge tb
                 JOIN client_user a ON tb.client_user_id = a.id
    </sql>

    <select id="selectRecommendJudgeAll" parameterType="RecommendJudge" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeVo"/>
        where tb.status = 0 and tb.draft=0;
    </select>

    <select id="selectRecommendJudgeList" parameterType="RecommendJudge" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeVo"/>
        <where>
            <if test="id != null ">and tb.id = #{id}</if>
            <if test="clientUserId != null ">and tb.client_user_id = #{clientUserId}</if>
            <if test="category != null ">and tb.category = #{category}</if>
            <if test="title != null  and title != '' ">and tb.title = #{title}</if>
            <if test="content != null  and content != '' ">and tb.content = #{content}</if>
            <if test="image1 != null  and image1 != '' ">and tb.image1 = #{image1}</if>
            <if test="image2 != null  and image2 != '' ">and tb.image2 = #{image2}</if>
            <if test="image3 != null  and image3 != '' ">and tb.image3 = #{image3}</if>
            <if test="image4 != null  and image4 != '' ">and tb.image4 = #{image4}</if>
            <if test="image5 != null  and image5 != '' ">and tb.image5 = #{image5}</if>
            <if test="image6 != null  and image6 != '' ">and tb.image6 = #{image6}</if>
            <if test="image7 != null  and image7 != '' ">and tb.image7 = #{image7}</if>
            <if test="image8 != null  and image8 != '' ">and tb.image8 = #{image8}</if>
            <if test="image9 != null  and image9 != '' ">and tb.image9 = #{image9}</if>
            <if test="video != null  and video != '' ">and tb.video = #{video}</if>
            <if test="likeCount != null ">and tb.like_count = #{likeCount}</if>
            <if test="commentCount != null ">and tb.comment_count = #{commentCount}</if>
            <if test="readCount != null ">and tb.read_count = #{readCount}</if>
            <if test="onTop != null ">and tb.on_top = #{onTop}</if>
            <if test="rankings != null ">and tb.rankings = #{rankings}</if>
            <if test="draft != null ">and tb.draft = #{draft}</if>
            <if test="draft == null ">and tb.draft = 0</if>
            <if test="status != null ">and tb.status = #{status}</if>
            <if test="createBy != null  and createBy != '' ">and tb.create_by = #{createBy}</if>
            <if test="createTime != null ">and tb.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and tb.update_by = #{updateBy}</if>
            <if test="updateTime != null ">and tb.update_time = #{updateTime}</if>
            <if test="adTitle != null  and adTitle != '' ">and tb.ad_title = #{adTitle}</if>
            <if test="adContent != null  and adContent != '' ">and tb.ad_content = #{adContent}</if>
            <if test="adMediaUrl != null  and adMediaUrl != '' ">and tb.ad_media_url = #{adMediaUrl}</if>
            <if test="contentShort != null  and contentShort != '' ">and tb.content_short = #{contentShort}</if>
            <if test="videoCover != null  and videoCover != '' ">and tb.video_cover = #{videoCover}</if>
        </where>
          order by tb.create_time desc
    </select>

    <select id="selectRecommendJudgeById" parameterType="Long" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeVo"/>
        where tb.id = #{id}
    </select>

    <insert id="insertRecommendJudge" parameterType="RecommendJudge" useGeneratedKeys="true" keyProperty="id">
        insert into shooting_recommend_judge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="clientUserId != null  ">client_user_id,</if>
            <if test="category != null  ">category,</if>
            <if test="title != null  and title != ''  ">title,</if>
            <if test="content != null  and content != ''  ">content,</if>
            <if test="image1 != null  and image1 != ''  ">image1,</if>
            <if test="image2 != null  and image2 != ''  ">image2,</if>
            <if test="image3 != null  and image3 != ''  ">image3,</if>
            <if test="image4 != null  and image4 != ''  ">image4,</if>
            <if test="image5 != null  and image5 != ''  ">image5,</if>
            <if test="image6 != null  and image6 != ''  ">image6,</if>
            <if test="image7 != null  and image7 != ''  ">image7,</if>
            <if test="image8 != null  and image8 != ''  ">image8,</if>
            <if test="image9 != null  and image9 != ''  ">image9,</if>
            <if test="video != null  and video != ''  ">video,</if>
            <if test="likeCount != null  ">like_count,</if>
            <if test="commentCount != null  ">comment_count,</if>
            <if test="readCount != null  ">read_count,</if>
            <if test="onTop != null  ">on_top,</if>
            <if test="rankings != null  ">rankings,</if>
            <if test="draft != null  ">draft,</if>
            <if test="status != null  ">status,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time,
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="adTitle != null  and adTitle != ''  ">ad_title,</if>
            <if test="adContent != null  and adContent != ''  ">ad_content,</if>
            <if test="adMediaUrl != null  and adMediaUrl != ''  ">ad_media_url,</if>
            <if test="contentShort != null  and contentShort != ''  ">content_short,</if>
            <if test="videoCover != null  and videoCover != ''  ">video_cover,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="clientUserId != null  ">#{clientUserId},</if>
            <if test="category != null  ">#{category},</if>
            <if test="title != null  and title != ''  ">#{title},</if>
            <if test="content != null  and content != ''  ">#{content},</if>
            <if test="image1 != null  and image1 != ''  ">#{image1},</if>
            <if test="image2 != null  and image2 != ''  ">#{image2},</if>
            <if test="image3 != null  and image3 != ''  ">#{image3},</if>
            <if test="image4 != null  and image4 != ''  ">#{image4},</if>
            <if test="image5 != null  and image5 != ''  ">#{image5},</if>
            <if test="image6 != null  and image6 != ''  ">#{image6},</if>
            <if test="image7 != null  and image7 != ''  ">#{image7},</if>
            <if test="image8 != null  and image8 != ''  ">#{image8},</if>
            <if test="image9 != null  and image9 != ''  ">#{image9},</if>
            <if test="video != null  and video != ''  ">#{video},</if>
            <if test="likeCount != null  ">#{likeCount},</if>
            <if test="commentCount != null  ">#{commentCount},</if>
            <if test="readCount != null  ">#{readCount},</if>
            <if test="onTop != null  ">#{onTop},</if>
            <if test="rankings != null  ">#{rankings},</if>
            <if test="draft != null  "> #{draft},</if>
            <if test="status != null  ">#{status},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="adTitle != null  and adTitle != ''  ">#{adTitle},</if>
            <if test="adContent != null  and adContent != ''  ">#{adContent},</if>
            <if test="adMediaUrl != null  and adMediaUrl != ''  ">#{adMediaUrl},</if>
            <if test="contentShort != null  and contentShort != ''  ">#{contentShort},</if>
            <if test="videoCover != null  and videoCover != ''  ">#{videoCover},</if>
        </trim>
    </insert>

    <update id="updateRecommendJudge" parameterType="RecommendJudge">
        update shooting_recommend_judge
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientUserId != null  ">client_user_id = #{clientUserId},</if>
            <if test="category != null  ">category = #{category},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="image1 != null  and image1 != ''  ">image1 = #{image1},</if>
            <if test="image2 != null  and image2 != ''  ">image2 = #{image2},</if>
            <if test="image3 != null  and image3 != ''  ">image3 = #{image3},</if>
            <if test="image4 != null  and image4 != ''  ">image4 = #{image4},</if>
            <if test="image5 != null  and image5 != ''  ">image5 = #{image5},</if>
            <if test="image6 != null  and image6 != ''  ">image6 = #{image6},</if>
            <if test="image7 != null  and image7 != ''  ">image7 = #{image7},</if>
            <if test="image8 != null  and image8 != ''  ">image8 = #{image8},</if>
            <if test="image9 != null  and image9 != ''  ">image9 = #{image9},</if>
            <if test="video != null  and video != ''  ">video = #{video},</if>
            <if test="likeCount != null  ">like_count = #{likeCount},</if>
            <if test="commentCount != null  ">comment_count = #{commentCount},</if>
            <if test="readCount != null  ">read_count = #{readCount},</if>
            <if test="onTop != null  ">on_top = #{onTop},</if>
            <if test="rankings != null  ">rankings = #{rankings},</if>
            <if test="draft != null  ">draft=#{draft},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="adTitle != null  and adTitle != ''  ">ad_title = #{adTitle},</if>
            <if test="adContent != null  and adContent != ''  ">ad_content = #{adContent},</if>
            <if test="adMediaUrl != null  and adMediaUrl != ''  ">ad_media_url = #{adMediaUrl},</if>
            <if test="contentShort != null  and contentShort != ''  ">content_short = #{contentShort},</if>
            <if test="videoCover != null  and videoCover != ''  ">video_cover = #{videoCover},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecommendJudgeById" parameterType="Long">
        delete
        from shooting_recommend_judge
        where id = #{id}
    </delete>

    <delete id="deleteRecommendJudgeByIds" parameterType="String">
        delete from shooting_recommend_judge where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <sql id="selectRecommendJudgeAssoc">
        select tb.id,
               tb.client_user_id,
               tb.category,
               tb.title,
               tb.content,
               tb.image1,
               tb.image2,
               tb.image3,
               tb.image4,
               tb.image5,
               tb.image6,
               tb.image7,
               tb.image8,
               tb.image9,
               tb.video,
               tb.like_count,
               tb.comment_count,
               tb.read_count,
               tb.on_top,
               tb.rankings,
               tb.status,
               tb.create_by,
               tb.create_time,
               tb.update_by,
               tb.update_time,
               tb.ad_title,
               tb.ad_content,
               tb.ad_media_url,
               tb.content_short,
               tb.video_cover,
               tb.draft
        from shooting_recommend_judge tb     </sql>

    <select id="selectRecommendJudgeAllAssoc" parameterType="RecommendJudge" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeAssoc"/>
        where tb.draft=0
    </select>

    <select id="selectRecommendJudgeListAssoc" parameterType="RecommendJudge" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeAssoc"/>
        <where>
            <if test="id != null ">and tb.id = #{id}</if>
            <if test="clientUserId != null ">and tb.client_user_id = #{clientUserId}</if>
            <if test="category != null ">and tb.category = #{category}</if>
            <if test="title != null  and title != '' ">and tb.title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != '' ">and tb.content like concat('%', #{content}, '%')</if>
            <if test="image1 != null  and image1 != '' ">and tb.image1 = #{image1}</if>
            <if test="image2 != null  and image2 != '' ">and tb.image2 = #{image2}</if>
            <if test="image3 != null  and image3 != '' ">and tb.image3 = #{image3}</if>
            <if test="image4 != null  and image4 != '' ">and tb.image4 = #{image4}</if>
            <if test="image5 != null  and image5 != '' ">and tb.image5 = #{image5}</if>
            <if test="image6 != null  and image6 != '' ">and tb.image6 = #{image6}</if>
            <if test="image7 != null  and image7 != '' ">and tb.image7 = #{image7}</if>
            <if test="image8 != null  and image8 != '' ">and tb.image8 = #{image8}</if>
            <if test="image9 != null  and image9 != '' ">and tb.image9 = #{image9}</if>
            <if test="video != null  and video != '' ">and tb.video = #{video}</if>
            <if test="likeCount != null ">and tb.like_count like concat('%', #{likeCount}, '%')</if>
            <if test="commentCount != null ">and tb.comment_count like concat('%', #{commentCount}, '%')</if>
            <if test="readCount != null ">and tb.read_count like concat('%', #{readCount}, '%')</if>
            <if test="onTop != null ">and tb.on_top = #{onTop}</if>
            <if test="rankings != null ">and tb.rankings = #{rankings}</if>
            <if test="draft != null ">and tb.draft = #{draft}</if>
            <if test="draft == null ">and tb.draft = 0</if>
            <if test="status != null ">and tb.status = #{status}</if>
            <if test="createBy != null  and createBy != '' ">and tb.create_by = #{createBy}</if>
            <if test="createTime != null ">and tb.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and tb.update_by = #{updateBy}</if>
            <if test="updateTime != null ">and tb.update_time = #{updateTime}</if>
            <if test="adTitle != null  and adTitle != '' ">and tb.ad_title like concat('%', #{adTitle}, '%')</if>
            <if test="adContent != null  and adContent != '' ">and tb.ad_content like concat('%', #{adContent}, '%')
            </if>
            <if test="adMediaUrl != null  and adMediaUrl != '' ">and tb.ad_media_url = #{adMediaUrl}</if>
            <if test="contentShort != null  and contentShort != '' ">and tb.content_short = #{contentShort}</if>
            <if test="videoCover != null  and videoCover != '' ">and tb.video_cover = #{videoCover}</if>
        </where>
          order by tb.create_time desc
    </select>

    <select id="selectRecommendJudgeByIdAssoc" parameterType="Long" resultMap="RecommendJudgeResult">
        <include refid="selectRecommendJudgeAssoc"/>
        where tb.id = #{id}
    </select>


</mapper>